<form #itemForm="ngForm" (submit)="onSubmit(itemForm)">
    <div class="field is-horizontal">
        <div class="field-body">

            <mat-card>
                <div class="container">
                    <div class="amount">
                        <p class="control">
                            <input type="number" required name="amount" style="width: 100px;" class="input" placeholder="Amount" [ngModel]="item.amount">
                        </p>
                    </div>
            
                    <div class="description">
                        <p class="control">
                            <input type="text" required name="description" class="input" placeholder="Description" [ngModel]="item.description">
                         </p>
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="button" [ngClass]="{ 'is-primary': isNewItem, 'is-success': !isNewItem }" [disabled]="!itemForm.valid">
                        <p *ngIf="isNewItem">Add</p>
                        <p *ngIf="!isNewItem">Save</p>
                    </button>
                </div>
            </mat-card>

        </div>
    </div>
</form>