.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.amount, .description {
flex: 10 0 0%;
}

.button {
    flex: 1;
}

.mat-card {
    background-color:whitesmoke;
}